header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #110101;
    text-align: center;
  }
  
  header a {
    color: aliceblue;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 30px;
  }

  video {
    min-width: 100%;
  }
  
  .overlay .text {
    text-wrap: none;
    font-size: 100px;
    color: white;
    position: absolute;
    top: 300px;
    right: 200px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #110101;
    text-align: center;
    z-index: 100;
  }
  
  .footer {
    color: aliceblue;
    padding: 10px 20px;
    font-size: 20px;
  }
  
 
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px;
    box-sizing: border-box;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: 400px;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  button {
    width: 105%;
    padding: 10px 20px;
    background-color: #1a86df;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0636f7;
  }
  